<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dashboard.css" />

    <script src="/scripts/delete.js" defer></script>
    <script src="/scripts/modal.js" defer></script>
    <title>Dashboard</title>
  </head>
  <body>
    <%- include("partials/nav.ejs") %> <%- include("partials/itemFormModal.ejs")
    %> <%- include("partials/categoryFormModal.ejs") %> <%-
    include("partials/editItemFormModal.ejs") %>
    <main>
      <aside>
        <h1>Inventory</h1>
        <ul>
          <a href="/dashboard"><li>Dashboard</li></a>
        </ul>
        <h2>Categories</h2>
        <ul>
          <% categories.forEach(category => { %>
          <a href="/dashboard/category/<%=category.id%>">
            <li><%= category.category %> <button onclick="deleteCategory(event, '<%=category.id%>')">&times;</button></li>
            
          </a>
          <% }) %>
        </ul>
        <h2>Manufacturers</h2>
        <ul>
          <% manufacturers.forEach(manufacturer => { %>
          <a href="/dashboard/manufacturer/<%=manufacturer.id%>">
            <li><%= manufacturer.name %></li>
          </a>
          <% }) %>
        </ul>
      </aside>
      <div class="main">
        <div class="item-nav">
          <div class="date"><%= new Date().toLocaleString() %></div>
        </div>
        <h1>Dashboard</h1>
        <div class="dashboard">
          <div class="dashboard-info">
            <div class="total-categories">
              <p><%=categories.length%></p>
              <p>Total Categories</p>
              <button>More Info</button>
            </div>
            <div class="total-items">
              <h3><%=items.length %></h3>
              <span>Total Items</span>
              <button>More Info</button>
            </div>
          </div>
          <div class="dashboard-actions">
            <button onclick="openItemModal()">Add Item</button>
            <button onclick="openCategoryModal()">Add Category</button>
          </div>
        </div>
        <h1><%=items[0]?.category%></h1>
        <% if (locals.error !== undefined) { %>
        <p class="error-message">*<%=error %></p>
        <% } %>
        <div class="items">
          <% items.forEach(item => { %>
          <div class="item">
            <img src="<%=item.image%>" alt="" />
            <a href="/shop/category/<%=item.category%>/<%=item.id%>"
              ><p><%=item.title%></p></a
            >
            <p>$<%=item.price%>*</p>
            <div class="item-actions">
              <a href="/dashboard/edit/<%=item.id%>"><button>Edit</button></a>
              <button onclick="deleteItem('<%= item.id %>')">
                <img src="/icons/delete.svg" alt="" />
              </button>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
